#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }


body {
    background-color: #207567;
    font-family: 'Nunito', sans-serif;
}

input {
    height: 20px;
    width: 40%;
}



.header {
  display: block;
  position: relative;
  color: white;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

h1 {
  padding-left: 18px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  display: block;
  position: relative;
  left: 70px;
}



p {
  color: white;
  font-size: 11px;
}

p1 {
  color: white;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  padding-left: 0%;
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}




input[type="color"] {
  -webkit-appearance: none;
  position:relative;
  width: 193px;
}

.scrollable {
  height: 98%;
  position: absolute;
  width: 21%;  /* or any value */
  border:red;
  overflow-y: auto;
  overflow-x: hidden; 
  background: #207567;
  margin-left: 80%;
}

input[type=checkbox] {
  transform: scale(2);
}